<!--{{#partial "content"}}-->
<!--    {{#if Heroes}}-->
        {{#each Heroes}}
            <h4>Name: <span>{{mName}} </span> <br>
            <p>Age: <span> {{mAge}} </span> </p>
            <p>Special Power: <span> {{mSpecialPower}} </span> </p>
            <p>Weakness: <span> {{mWeakness}} </span></p>

        {{/each}}
<!--    {{else}}-->
<!--        No Heroes-->
<!--    {{/if}}-->

<!--{{/partial}}-->

{{> layout.hbs}}